.ContainerF{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.TitleContact{
    text-transform: uppercase;
}
.ContainerForm{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 800px;
    padding: 40px;
    margin-bottom: 60px;
}

.Label{
    display: flex;
    justify-content:flex-start;
    font-size: 18px;
    margin-bottom: 10px;
}

.Label:hover{
    color:#f72585;
}

.Input{
    width: 600px;
    color: #f72585;
    padding: 5px;
    margin-bottom: 20px;
}

.Text{
    width: 600px;
}

.SpanError{
    color: red;
    position: absolute;
    margin-left: 35%;
}

.ButtonContact{
    background-color: #f72585;
    color: white;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
}