.ContainerSkills{
    display: flex;
    justify-content: center;
    width: 100%;
}

.TitleSkills{
    background-color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #f72585;
}

.NameSkill{
    color: black;
}

.NameSkill:hover{
    color:  white;
}

